:root {
  --green: #0CA900;
  --black: #000000;
  --white: #ffffff;
  --gray: #adadad;
}

/*cofig*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.wrapper {
  max-width: 360px;
  /* border: 1px solid red; */
  margin: auto;
  height: 100%;
  display: flex;
  padding: 16px;
}

/*container*/
.container {
  height: 100vh;
}

.content {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*FIND*/
.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.perfil .description span {
  color: var(--gray);
  font-size: 14px;
}

.perfil i {
  font-size: 30px;
}

/*SEARCH*/
.search {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.search input {
  border-radius: 8px 0px 0px 8px;
  border: 1px solid var(--gray);
  border-right: none;
  padding: 16px;
  width: 100%;
}

.search .icon {
  background-color: var(--green);
  height: 100%;
  display: flex;
  border-radius: 0 8px 8px 0;
}

.search .icon i {
  font-size: 30px;
  color: var(--white);
  margin: auto;
  padding: 0 8px 0 8px;
}


